<!DOCTYPE html>
<head>
    <title>WeatherU</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/weatherscript.js"></script>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>
<body>
    <h6 class="header styled">Welcome to WeatherU!</h6>
    <h4>Get the weather wherever you are.</h4>
    <div class="container styled"> The sky is so blue today, it's like someone painted it just for us. The sun is shining, and you can feel its warmth on your skin. It's the kind of day where you just want to go outside and enjoy the fresh air. Birds are singing, and you might even see a rainbow if you're lucky. The breeze is light, making the leaves on the trees dance around. Don't forget your sunglasses and maybe some sunscreen. It's a perfect day for a picnic or a walk in the park.</div>
</body>